.chatbox_container .chatbox_container_wrapper {
    display: flex;
    flex-direction: column;
}

.chatbox_container_wrapper .chat_head {
    padding: 16px 12px 12px 12px;
    position: sticky;
    top: 0;
    background-color: var(--secondary-white);
    z-index: 9;
}

.chatbox_container_wrapper .chat_head .wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.chat_head .back_to {
    width: 28px;
    height: 28px;
}

.chat_head .back_to img {
    width: 100%;
    height: 100%;
}

.chat_head figure {
    display: flex;
    align-items: center;
    gap: 4px;
}

.chat_head figure .user_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat_head figure .user_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chat_head figure figcaption {
    display: flex;
    flex-direction: column;
}

.chat_head figure figcaption span:first-child {
    color: var(--secondary-black-90);
    font-feature-settings: 'salt' on;
    font-family: Quicksand-Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.chat_head figure figcaption .online_status {
    color: var(--secondary-black-70);
    font-feature-settings: 'salt' on;
    font-family: Quicksand-Regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px
}

.messages_boxes_container {
    background-color: var(--bg-100);
    max-height: 664px;
    height: 100vh;
    padding: 20px 12px 0 12px;
}

.messages_boxes_container .wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapper .message_box {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.message_box .message {
    border-radius: 16px;
    background-color: white;
    padding: 12px;
    width: fit-content;
}

.message p {
    color: var(--secondary-black-90);
    font-feature-settings: 'salt' on;
    font-family: Quicksand-Regular;
}

.message_time {
    color: var(--secondary-black-90);
    font-feature-settings: 'salt' on;
    font-family: Quicksand-Regular;
    font-size: 12px;
    line-height: 16px;
}

.message.your_message {
    background-color: var(--primary-green-500);
}

.message.your_message p {
    color: var(--secondary-white-90);
}

.text-right {
    text-align: right;
}

.type_message_box {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 12px;
    border-radius: 16px 16px 0px 0px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(186, 186, 186, 0.00), 0px 0px 9px 0px rgba(186, 186, 186, 0.01), 0px 0px 8px 0px rgba(186, 186, 186, 0.05), 0px 0px 6px 0px rgba(186, 186, 186, 0.09), 0px 0px 3px 0px rgba(186, 186, 186, 0.10);
}

.type_message_box .wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.type_message_box .wrapper input {
    border-radius: 17px;
    background-color: var(--bg-100);
    padding: 12px 16px;
    font-feature-settings: 'salt' on;
    font-family: Quicksand-Regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    outline: none;
    border: none;
    flex-grow: 1;
    color: var(--secondary-black-90);
}

.type_message_box .wrapper input::placeholder {
    color: var(--secondary-black-20);
}

.type_message_box .wrapper .send_btn {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 17px;
    background-color: var(--primary-green-500);
}

.type_message_box .wrapper .send_btn img {
    width: 24px;
    height: 24px;
    object-fit: cover;
}

.align-self-end {
    align-self: flex-end;
}